.rootVbox {

}

.TopPanel { 

 -fx-background-color: #faf3de;
 -fx-min-height: 50;
 -fx-max-height: 50;

}

.TextPanel { 


}

.text-area  { 
 -fx-pref-height: 100; 
}

.text-area .content { 

 -fx-background-color: #dee9fa;
 
}

.text-field {
 -fx-max-width: 40;
}